html
    head
        title= title
        link(rel='stylesheet', href='./stylesheets/main.css')
        link(rel='stylesheet', href='./stylesheets/login.css')
        script(src='./javascripts/utils.js')
        script(src='./javascripts/jquery.min.js')
        script(src='./javascripts/jquery.ext.js')
        script(src='./javascripts/caustic.js')
        script(src='./javascripts/progress.js')
        script(src='./javascripts/loading.js')
        script(src='./javascripts/job.js')
        script(src='./javascripts/search.js')
        script(src='./javascripts/auth.js')
        script(src='./javascripts/main.js')
    body
        #content
            block body
        #error
