.login-wrapper {
    text-align: center;
}

.login-wrapper .form-el{
    margin-top: 1rem;
}

.login-wrapper .form-el input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.login-wrapper .form-el.submit input{
    background-color: #ebebeb;
    text-transform: uppercase;
}

.login-wrapper .form-el.submit.loading input{
    display: none;
}

#login-form {
    width: 50%;
    margin: 0 auto;
}
