extends ../login

block body

    .login-wrapper
        h1 Login

        #login-form
            .form-el
                input(type="text", placeholder="email").email
            .form-el
                input(type="password", placeholder="password").password
        #form-action
            .form-el.submit.action
                input(type="submit" value="login").login#submit-action
            .form-el.loading.submit
                input(type="submit" value="loading..." disabled).login#submit-loading
        #loading: canvas(width=50, height=50)
        if locals.error
            #error
                h3 Error:
                .message #{locals.error}

        if locals.token
            #token
                h3 Token #{locals.token}

    script.
        o(function(){
            init('login')
        });
